parameters:
    level: 7
    ignoreErrors:
        - '#Instantiated class SymfonyDiCacheContainerClass not found\.#'
        - '# does not accept SymfonyDiCacheContainerClass\.#'
    paths:
        - src/